/* Site custom styles and colours. This file loads last. */

:root {
  --max-content-width: 999px;
  --base-font-size: 16;

  /* Brand colours. */
  --color-brand: oklch(0.4958 0.2838 263.94);
  --color-brand-alt: oklch(0.5788 0.2316 259.64);
  --color-brand-light: oklch(0.5788 0.2316 259.64);
  --color-brand-dark: oklch(0.4123 0.2838 263.94);
}

a {
  text-decoration: none;
}

.desktop {
  @media (max-width: 666px) {
    display: none;
  }
}

[type='url'] {
  width: min(30em, 100%);
}

input,
textarea {
  &:has(+ .help-text),
  &:has(+ .form-error) {
    margin-block-end: 0;
  }
}

.form-error {
  font-family: var(--ff-alt);
  font-size: var(--fs-xs);
  color: var(--color-error);
}

.bookmarks {
  h1 {
    font-size: var(--fs-l);
  }

  ul {
    padding-inline-start: 0;
    list-style: none;

    @media (min-width: 999px) {
      list-style-type: circle;
    }
  }
}

.bookmarks__item {
  h2 {
    font-size: var(--fs-m);
    letter-spacing: normal;
  }

  p {
    margin-block: 0 var(--spacing-xs);
  }
}

.bookmarks__modal {
  padding: var(--spacing-m);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-m);
  width: min(90vw, 60ch);
  max-height: 90dvh;
  overflow-y: auto;

  &::backdrop {
    background-color: var(--color-black-60);
  }
}

.page--slim {
  padding: var(--spacing-s);
}

.bookmarklet-form {
  font-size: var(--fs-s);

  form {
    margin-block-end: 0;

    & > div {
      display: grid;
      grid-template-areas: 'label input' 'label help';
      grid-template-columns: 12ch 1fr;
    }
  }

  h1 {
    font-size: var(--fs-m);
    letter-spacing: normal;
    margin-block-start: 0;
  }

  label {
    grid-area: label;
  }

  input,
  textarea {
    grid-area: input;
    margin-block-end: var(--spacing-xs);
  }

  p {
    grid-area: help;
  }

  button {
    grid-area: input;
  }

}

.tag-list {
  h2 {
    font-size: var(--fs-m);
    letter-spacing: normal;
  }

  ul {
    --grid-tags-column-min: 14ch;
    --grid-tags-gap: 2ch;

    display: grid;
    column-gap : var(--grid-tags-gap);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-tags-column-min), 100%), 1fr));
    padding: 0;

    li {
      list-style: none;
    }
  }
}

.tag-filter {
  font-size: var(--fs-s);
  font-family: var(--ff-alt);
  width: auto;
}

.actions {
  a {
    --color-link: var(--color-text-meta);
    --color-link-visited: var(--color-text-meta);
  }
}

.pager {
  margin-block: var(--spacing-m);
  justify-content: center;
  font-family: var(--ff-alt);
}

.cards--swish {
  --grid-group-column-min: 300px;
  --grid-group-gap: 10rem;
}

.card--swish {
  svg {
    display: inline-block;
  }
}

.htmx-indicator {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, var(--color-accent), transparent, var(--color-accent), transparent);
  opacity: 0;
  visibility: hidden;

  &.htmx-request {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 2s linear forwards, slide 1.2s ease-in-out infinite;
  }
}

@keyframes slide {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX( 100%); }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

