<li>
  <article class="bookmarks__item">
    <h2 id="bm-{{ bookmark.id }}">
      <a href="{{ bookmark.url }}" rel="noopener noreferrer">{{ bookmark.title|default:bookmark.url }}</a>
    </h2>

    {% if bookmark.description %}
      <p>{{ bookmark.description }}</p>
    {% endif %}

    <footer class="meta">
      {% if bookmark.tags %}
        <ul class="flex-inline" aria-label="Tags">
          {% for tag in bookmark.tags %}
            <li>
              <a
                href="?tag={{ tag }}"
                hx-get="?tag={{ tag }}"
                hx-target="#bookmarks"
                hx-push-url="true"
                rel="tag"
              >{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="flex-inline">
        <relative-time datetime="{{ bookmark.created_at|date:'c' }}">
          {{ bookmark.created_at|date:"SHORT_DATETIME_FORMAT" }}
        </relative-time>

        <ul class="flex-inline flex-inline--center actions" aria-label="Actions">
          <li><a href="{% url 'bookmark_edit' slug=user.slug pk=bookmark.pk %}">edit</a></li>
          <li><a href="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}">delete</a></li>
        </ul>
      </div>
    </footer>
  </article>
</li>
