<li>
  <article aria-labelledby="bm-title-{{ bookmark.id }}">
    <h2 id="bm-title-{{ bookmark.id }}">
      <a href="{{ bookmark.url }}" rel="noopener noreferrer">{{ bookmark.title|default:bookmark.url }}</a>
    </h2>

    {% if bookmark.description %}
      <p>{{ bookmark.description }}</p>
    {% endif %}

    <footer>
      {% if bookmark.tags %}
        <ul class="flex-inline" aria-label="Tags">
          {% for tag in bookmark.tags %}
            <li>
              <a
                href="?tag={{ tag }}"
                hx-get="?tag={{ tag }}"
                hx-target="#bookmark-list"
                hx-push-url="true"
                rel="tag"
              >{{ tag }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="flex-inline">
        <relative-time datetime="{{ bookmark.created_at|date:'c' }}">
          {{ bookmark.created_at|date:"SHORT_DATETIME_FORMAT" }}
        </relative-time>

        <nav aria-label="Actions for {{ bookmark.title|default:bookmark.url }}">
          <ul class="flex-inline" aria-label="Actions">
            <li><a href="{% url 'bookmark_edit' slug=user.slug pk=bookmark.pk %}">Edit</a></li>
            <li><a href="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}">Delete</a></li>
          </ul>
        </nav>
      </div>
    </footer>
  </article>
</li>
