{% load i18n %}
<li class="flex-inline">
  <a
    href="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}"
    hx-get="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}?cancel=1"
    hx-target="closest li"
    hx-swap="outerHTML"
  >{% trans "cancel" %}</a> /
  <a
    href="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}"
    hx-post="{% url 'bookmark_delete' slug=user.slug pk=bookmark.pk %}"
    hx-target="#bookmark-{{ bookmark.pk }}"
    hx-swap="outerHTML"
  >{% trans "yes, delete" %}</a>
</li>
