<section id="bookmarks" class="bookmarks" aria-label="Bookmark list" aria-live="polite">
  <header class="flex-inline flex-inline--baseline">
    <h1>
      {% if tag %}
        Showing bookmarks tagged <em>{{ tag }}</em>
      {% elif query %}
        Searched for <em>{{ query }}</em> in your bookmarks
      {% else %}
        {{ user }} bookmarks
      {% endif %}
    </h1>
    <span>Found {{ total }} results.</span>
  </header>

  {% if page_obj.object_list %}
    <ul>
      {% for bookmark in page_obj %}
        {% include "links/_bookmark_item.html" %}
      {% endfor %}
    </ul>

    {% if page_obj.has_previous or page_obj.has_next %}
      <nav class="flex-inline pager" aria-label="Pagination">
        {% if page_obj.has_previous %}
          <a
            href="{{ page_prefix }}page={{ page_obj.previous_page_number }}"
            hx-get="{{ page_prefix }}page={{ page_obj.previous_page_number }}"
            hx-target="#bookmarks"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator="#htmx-indicator"
            rel="prev"
          ><span aria-hidden="true">« </span> Previous</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
          <a
            href="{{ page_prefix }}page={{ page_obj.next_page_number }}"
            hx-get="{{ page_prefix }}page={{ page_obj.next_page_number }}"
            hx-target="#bookmarks"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator="#htmx-indicator"
            rel="next"
          >Next <span aria-hidden="true"> »</span></a>
        {% endif %}
      </nav>
    {% endif %}

  {% else %}
    <p>
      {% if query %}
        No bookmarks match your search.
      {% elif tag %}
        No bookmarks with this tag.
      {% else %}
        You have no bookmarks yet. <a
          href="{% url 'bookmark_add' slug=user.slug %}"
          hx-get="{% url 'bookmark_add' slug=user.slug %}"
          hx-target="#bookmarks-modal"
          hx-swap="innerHTML"
        >Add your first one</a>.
      {% endif %}
    </p>
  {% endif %}
</section>
