{% load i18n %}
<section id="bookmarks" class="bookmarks" aria-label="{% trans 'Bookmark list' %}" aria-live="polite">
  <header class="flex-inline flex-inline--baseline">
    <h1>
      {% if tag %}
        {% trans "Showing bookmarks tagged" %} <em>{{ tag }}</em>
      {% elif query %}
        {% trans "Searched for" %} <em>{{ query }}</em> {% trans "in your bookmarks" %}
      {% else %}
        {% blocktrans with name=user.get_display_name %}{{ name }} bookmarks{% endblocktrans %}
      {% endif %}
    </h1>
    <span>{% blocktrans with total=total %}Found {{ total }} results.{% endblocktrans %}</span>
  </header>

  {% if page_obj.object_list %}
    <ul>
      {% for bookmark in page_obj %}
        {% include "links/_bookmark_item.html" %}
      {% endfor %}
    </ul>

    {% if page_obj.has_previous or page_obj.has_next %}
      <nav class="flex-inline pager" aria-label="{% trans 'Pagination' %}">
        {% if page_obj.has_previous %}
          <a
            href="{{ page_prefix }}page={{ page_obj.previous_page_number }}"
            hx-get="{{ page_prefix }}page={{ page_obj.previous_page_number }}"
            hx-target="#bookmarks"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator="#htmx-indicator"
            rel="prev"
          ><span aria-hidden="true">« </span> {% trans "Previous" %}</a>
        {% endif %}

        <span>{% blocktrans with num=page_obj.number total=page_obj.paginator.num_pages %}Page {{ num }} of {{ total }}{% endblocktrans %}</span>

        {% if page_obj.has_next %}
          <a
            href="{{ page_prefix }}page={{ page_obj.next_page_number }}"
            hx-get="{{ page_prefix }}page={{ page_obj.next_page_number }}"
            hx-target="#bookmarks"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator="#htmx-indicator"
            rel="next"
          >{% trans "Next" %} <span aria-hidden="true"> »</span></a>
        {% endif %}
      </nav>
    {% endif %}

  {% else %}
    <p>
      {% if query %}
        {% trans "No bookmarks match your search." %}
      {% elif tag %}
        {% trans "No bookmarks with this tag." %}
      {% else %}
        {% trans "You have no bookmarks yet." %} <a
          href="{% url 'bookmark_add' slug=user.slug %}"
          hx-get="{% url 'bookmark_add' slug=user.slug %}"
          hx-target="#bookmarks-modal"
          hx-swap="innerHTML"
        >{% trans "Add your first one" %}</a>.
      {% endif %}
    </p>
  {% endif %}
</section>
