<aside
  id="tags"
  class="sidebar layout__second-sidebar"
  hx-get="{% url 'bookmark_tags' slug=user.slug %}"
  hx-trigger="refreshTags from:body"
  hx-swap="outerHTML"
>
  {% if all_tags %}
    <nav class="tag-list">
      <h2>Tags</h2>
      <ul class="meta">
        {% for t in all_tags %}
          <li>
            <a
              href="?tag={{ t }}"
              hx-get="?tag={{ t }}"
              hx-target="#bookmarks"
              hx-push-url="true"
            >{{ t }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</aside>
