{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ action }} — {% trans "Bookmarks" %}{% endblock %}

{% block content %}
  <section>
    <h1>{{ action }}</h1>

    <form method="post" novalidate>
      {% include "links/_form_include.html" %}

      <div class="flex-inline">
        <button type="submit"{% if limit_reached %} disabled{% endif %}>{% trans "Submit" %}</button>
        <a class="button button--outline" href="{% url 'bookmark_list' slug=user.slug %}">{% trans "Cancel" %}</a>
      </div>
    </form>
  </section>
{% endblock %}
