{% extends "base.html" %}
{% block title %}{{ user }}'s Bookmarks{% endblock %}

{% block search %}
  <form role="search" method="get" class="mx--0">
    <label for="search-input" class="visually-hidden">Search bookmarks</label>
    <input
      type="search"
      id="search-input"
      name="q"
      value="{{ query }}"
      placeholder="Search titles, descriptions, URLs…"
      autocomplete="off"
      hx-get="{{ request.path }}"
      hx-trigger="input changed delay:400ms, search"
      hx-target="#bookmark-list"
      hx-push-url="true"
      class="mx--0"
    >
  </form>
{% endblock %}


{% block content %}
  {% include "links/_list_partial.html" %}
{% endblock %}
